.nav{
      background-color: aliceblue;
      display: flex;
      justify-content: space-around ;
      align-items: center;
      position: sticky;
      top: 0%;
      width: 100%;
      z-index: 1;
      filter: drop-shadow(0px 0px 5px rgb(104, 104, 242)); 
      height: 5rem;
      flex-wrap: wrap;
    
}
 
.nav-links{
      display: flex;
      align-items: center;
      gap: 50px;
      
}

.nav-links li{
      font-size: 18px;
      font-weight: 900;     
}
.nav-links hr {
      margin-top:5px;
      border: none;
      background: #FF4141; 
      height: 3px;
      width: 100%;
}
 
.logo{
      margin-left: 2rem;
      font:1.5rem bold;
      font-weight: 700;    
      filter: drop-shadow(-2px 2px 1px #008080);
}
.logo h3{
      color: black;
      font-family:'Times New Roman', Times, serif;
}
 
 